body{
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}
.column{
	width: 33.3%;
	float: left;
}
.column-a img{
	max-width: 55%;
	width: 55%;
}
.column-b img{
	width: 280%;
	justify-self: center;
	margin-top: 80px;
	margin-left: -20px;
}
.column-c{
	float: right;
	margin-top: 130px;
	margin-inline: 50px;
}
.column-c .search{
	height: 32px;
	width: 380px;
	background-color: white;
	border-radius: 16px;
}
.column-c .search input.text{
	height: 30px;
	background-color: white;
	color: #121212;
	border: 0px;
	border-radius: 16px;
	padding-inline: 16px 170px;
	font-size: 16px;
}
.column-c .search input.text:focus,
.column-c .search input.text textarea:focus{
	box-shadow: 0 0 0 0;
	outline: 0;
}
.column-c .search input.button{
	height: 32px;
	width: 32px;
	background-image: url(../../assets/img/search_FILL0_wght400_GRAD0_opsz48\ 1.svg);
	background-color: #CD191E;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 16px;
	border-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 39px;
	bottom: 28px;
	float: right;
}

/*menu responsivo*/
.topnav{
	background-color: #333;
	overflow: hidden;
	margin-top: -23px;
}
.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover{
	background-color: #ddd;
	color: black;
}
.topnav a.active{
	background-color: #2f9e41;
	color: white;
}
.topnav .icon{
	display: none;
}
@media screen and (max-width: 600px){
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 600px){
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

footer{
	height: 440px;
	width: 100%;
	display: grid;
	grid-template-areas: 'A B C';
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	margin-inline: auto;
	margin-top: 110px;
	background-color:#2f9e41;
}
footer .column-a .image-a{
    height: 50px;
    width: 310px;
    background-image: url(../../assets/img/ciencioteca-big.svg);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 88px;
    margin-bottom: 25px;
    margin-inline: auto;
}
footer .column-a .image-b{
    height: 142px;
    width: 165px;
    background-image: url(../../assets/img/if.svg);
    margin-inline: auto;
}
footer .column-b{
	height: 300px;
	margin-top: 50px;
	padding-top: 0;
	margin-left: 220px;
}
footer .column-b div{
	margin-bottom: 20px;
}
footer .column-b .link{
	display: flex;
	gap: 20px;
	align-items: center;
}
footer h2{
	color: white;
	font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
	
}
.column-b a{
	text-decoration: none;
}
footer h2:hover{
	text-decoration: none;
	opacity: 0.8;
}
footer .column-b .instagram .image{
	background-image: url(../../assets/img/instagram.svg);
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
}
footer .column-b .facebook .image{
	background-image: url(../../assets/img/facebook.svg);
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
}
footer .column-b .site .image{
	background-image: url(../../assets/img/site.svg);
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
}
footer .column-b .email .image{
    background-image: url(../../assets/img/email.svg);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
}
footer .column-b .telefone .image{
    background-image: url(../../assets/img/telefone.svg);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

footer .column-c .image-c{
	float: right;
	margin-top: 50px;
	margin-left: 70px;
	width:270px;
	height: 110px;
	padding: 5px;
	border-radius: 10px;
	background-color: whitesmoke;
}
.direitos {
	width: 100%;
	margin-top: -25px;
	background-color:#CD191E;
	text-align: center;
	color: White;
	padding-bottom: 7px;
}
section{
	height: 440px;
    width: 85%;
    display: grid;
    grid-template-areas: 'A B C';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-inline: auto;
    /*margin-top: 110px;*/
}
.info{
	width: 33.3%;
	float: left;
}
.info .column-a{
	height: 380px;
	width: 140%;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	grid-area: A;
	background-color: #73AA17;
	border-radius: 10px;
	border-bottom: 20px solid #CD191E;
	padding: 80px;
}
.info .column-a .image-a{
    height: 50px;
    width: 310px;
    background-image: url(../../assets/img/ciencioteca-big.svg);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-inline: auto;
}
.info .column-a .image-b{
    height: 142px;
    width: 165px;
    background-image: url(../../assets/img/if.svg);
    margin-inline: auto;
}
.info .column-b{
	height: 400px;
	width: 100%;
	grid-area: B;
	margin-top: 100px;
	margin-inline: auto;
}
.info .column-b h3{
	width: 550px;
	margin-left: 240px;
	text-align: justify;
	padding: 10px;

}
.info .column-c{
	height: 400px;
	width: 590px;
	grid-area: C;
	margin-top: 5%;
	margin-inline: auto;
}
.info .column-c h3{
	width:  550px;
}
.info .column-c img{
	width: 30%;
	margin: -30px;
	margin-bottom: 10px;
}
.info .column-c h1{
	float: right;
}
.ultimos{
	width: 97%;
	margin-inline: auto;
	margin-bottom: 20px;
	display: flex;
	gap: 22px;
}
.ultimos div{
	width: 19.7%;
	margin: 0px auto;
	border-radius: 10px;
	background-color: #73AA17;
}
.ultimos div .image{
	width: 96%;
	height: 253px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 5px solid #73AA17;
	/*background-image: url(../../assets/img/img-roteiro-eletricidade.svg);*/
}
.ultimos div .image img{
	max-width: 300px;
	width: 250px;
	height:240px;
	margin-left: 38px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 5px solid #73AA17;
}
.ultimos div .text{
	width: 100%;
	padding-block: 20px;
	position: relative;
	bottom: 5px;
}
.ultimos div .text .conteudo,
.ultimos div .text .area,
.ultimos div .text .detalhes{
	padding-bottom: 20px;
}
.ultimos div .text p{
	margin: 0 auto;
	width: 85%;
}
.ultimos div .text a.submit{
	display: block;
	width: 105px;
	text-decoration: none;
	margin-inline: auto;
	font-size: 20px;
	padding-block: 3px;
	padding-inline: 10px;
	border-radius: 40px;
	background-color: #CD191E;
	color: White;
}
.ultimos div .text a.submit:hover{
	border: 1px solid white;
	padding-block: 2px;
} 
.buscar{
	width: 100%;
}
.buscar .column-a{
	height: 270px;
	width: 100%;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	grid-area: A;
	background-color: #73AA17;
	border-radius: 10px;
	/*border-bottom: 20px solid #CD191E;*/
	padding-left: 30px;
	border: 5px dashed #CD191E;
}
.buscar .column-a img {
	width: 40%;
	float:left;
	margin-right: 30px;
	margin-top: 30px;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px black;
} 
.buscar .column-a h2{
	margin-top: 37px;
	color: white;
	font-weight: bold;
}
.buscar .column-a label{
	color: white;
	font-size: 24px;
}
.buscar .column-a select {
	width: 300px;
	padding: 5px;
	border-radius: 10px;
}
.buscar .column-a input {
	float: right;
	margin-right: 18px;
}
.buscar .jumbotron{
	width: 196%;
	margin: 20px;
	margin-top: 35px;
	border-radius: 10px;
	padding-left: 15px;
}
.buscar .jumbotron h2 {
	margin-top: 2px;
	font-weight: bold;
	margin-top: -12px;
}
.buscar .jumbotron table {
	width: 99%;
}